[phases.setup]
nixPkgs = ["nodejs_18", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "npm install",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "python api/simple_server.py"
